body {
    color: rgb(227, 226, 226);
    background-color: rgb(27, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;

}

.header {
    background-color: rgb(45, 44, 44);
    padding: 10px;
    border-radius: 10px;
}

.header h1 {
    display: inline;
}

.nav-list li {
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(227, 226, 226);
}

.centro {
    display: inline-block;
    background-image: url("img/fondo-trabajo.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 225px;
    padding-bottom: 225px;
    border-radius: 10px;
    margin: 25px;
}

.centro-interno {
    background-color: rgba(27, 27, 27, 0.833);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    text-align: center;
}

table {
    border: solid 5px rgb(0, 0, 0);
}